@{
    ViewData["Title"] = "Appointment Page";
    Layout = "_AdminLayout";
}

<head>

    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.5.1.js" />
    <link rel="stylesheet" href=" https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" />
</head>


<!-- Main content -->
<section class="content  text-dark">
    <div class="container-fluid">
        <style>
            #selectAll {
                top: 0
            }
        </style>
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">List of Appointments</h3>
                <div class="card-tools">
                    <!-- Button trigger modal -->
                    <a id="create_new" class="btn btn-flat btn-primary" data-toggle="modal" data-target="#staticBackdrop"><span class="fas fa-plus"></span>  Create New</a>
                </div>

            </div>
            <div class="card-body">
                <div class="container-fluid">
                    @*  <div class="row" style="display:none" id="selected_opt">
                    <div class="w-100 d-flex">
                    <div class="col-2">
                    <label for="" class="controllabel"> With Selected:</label>
                    </div>
                    <div class="col-3">
                    <select id="w_selected" class="custom-select select">
                    <option value="pending">Mark as Pending</option>
                    <option value="confirmed">Mark as Confirmed</option>
                    <option value="cancelled">Mark as Cancelled</option>
                    <option value="delete">Delete</option>
                    </select>
                    </div>
                    <div class="col">
                    <button class="btn btn-primary" type="button" id="selected_go">Go</button>
                    </div>
                    </div>
                    </div>*@
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>Name</th>
                                <th>Schedule</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>dkjdjh</td>
                                <td>Feb 16,2023 09:42 AM</td>
                                <td class="text-center">
                                    <span class="badge badge-success">Confirmed</span>
                                </td>
                                <td align="center">
                                    <button type="button" class="btn btn-flat btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                        Action
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item view_data" href="javascript:void(0)" data-id="13"> View</a>
                                        <div class="divider"></div>
                                        <a class="dropdown-item edit_data" href="javascript:void(0)" data-id="13"> Edit</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form asp-controller="admin" asp-action="schedule" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Create New Schedule</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-light">
                            <div class="mb-3">
                                <label for="date_sched" class="control-label">No of Students</label>
                                <input type="number" class="form-control" name="number" value="" required="">
                            </div>
                            <div class="mb-3">
                                <label for="date_sched" class="control-label">Date Schedule for</label>
                                <input type="datetime-local" class="form-control" id="datescheduled" name="date_sched" value="" required="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>




    </div>
</section>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>