@{
    Layout = "_PageLayout";

}



<h1>Forgot Password Confirmation</h1>

<p>A password reset email has been sent to your email address.</p>
<p>Please check your email and follow the instructions to reset your password.</p>

