@{
	ViewData["Title"] = "Index Page";
	Layout = "_AdminLayout";
}
	<!-- Main content -->
	<section class="content  text-dark">
		<div class="container-fluid">
			<h1 class="text-light">Welcome to Patient Appointment Scheduler System </h1>
			<hr>
			<div class="container">
				<div class="card">
					<div class="card-body">
						<div id="calendar"></div>
					</div>
				</div>
			</div>
			<style>
				.fc-event:hover, .fc-event-selected {
					color: black !important;
				}

				a.fc-list-day-text {
					color: black !important;
				}

				.fc-event:hover, .fc-event-selected {
					color: black !important;
					background: var(--light);
					cursor: pointer;
				}
			</style>
			
		</div>
	</section>