@model ResetPassword

@{
    Layout = "_PageLayout";

}




<div class="col-lg-12">
    <div class="card card-outline card-primary">
        <div class="card-header">
            <h5 class="card-title">Reset Password</h5>

        </div>
        <div class="card-body">
            <form asp-controller="admin" asp-action="resetpassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label><strong>New Paswword</strong></label>
                    <input asp-for="Password" type="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label><strong>Confirm Password</strong></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" required>
                </div>
                <input type="hidden" asp-for="Email" class="form-control">
                <input type="hidden" asp-for="Token" class="form-control">

                <div class="text-center">
                    <button onclick="start_loader();" type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

