@{
    ViewData["Title"] = "Home Page";
}

<!-- Header-->
<header class="bg-dark py-5" id="main-header">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Student Appointment Scheduling System</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBack">
                    View Medical Appointment
                </button>
            </p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">

        <h1 style="text-align: center; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding: 0px; line-height: 90px;"><span style="font-family:&quot;Arial Black&quot;"></span></h1><h4 style="margin: 10px 10px 5px; padding: 0px; line-height: 18px;"><br></h4><hr style="margin: 0px; padding: 0px; clear: both; border-top: 0px; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); font-family: &quot;Open Sans&quot;, Arial, sans-serif; font-size: 14px; text-align: center;"><div id="Content" style="margin: 0px; padding: 0px; position: relative; font-family: &quot;Open Sans&quot;, Arial, sans-serif; font-size: 14px; text-align: center;">
            <div id="bannerL" style="margin: 0px 0px 0px -160px; padding: 0px; position: sticky; top: 20px; width: 160px; height: 10px; float: left; text-align: right;"></div><div id="bannerR" style="margin: 0px -160px 0px 0px; padding: 0px; position: sticky; top: 20px; width: 160px; height: 10px; float: right; text-align: left;"></div><div class="boxed" style="margin: 10px 28.7969px; padding: 0px; clear: both;">
                <div id="lipsum" style="margin: 0px; padding: 0px; text-align: justify;">
                    <p style="margin-right: 0px; margin-bottom: 15px; margin-left: 0px; padding: 0px;">
                        <h3 style="text-align: center; font-family:&quot;Arial Black&quot;"">EDE MEDICAL UNIT</h3>
                        <br />
                        Our medical scheduling system is a powerful tool designed to streamline and simplify the scheduling process for medical practices. With our system, patients can easily book appointments online, while medical staff can manage their schedules and patient information in one centralized location.
                        <br />
                        Our system offers a user-friendly interface that allows patients to schedule appointments at their convenience, eliminating the need for phone calls and lengthy wait times. Medical staff can view their schedules in real-time, making it easy to manage appointments, reschedule appointments, and view patient information all in one place.

                        Overall, our medical scheduling system is an efficient and reliable solution that can help medical practices improve their workflow and provide better patient care.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #uni_modal .modal-content > .modal-footer {
        display: none;
    }

    #uni_modal .modal-body {
        padding-top: 0 !important;
    }
</style>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog rounded-0 modal-md modal-dialog-centered mid-large" role="document">
        <div class="modal-content  rounded-0">
            <div class="modal-header">
                <h5 class="modal-title">Medical Appointment Form</h5>
            </div>
            <div class="modal-body">
                <style>
                    #uni_modal .modal-content > .modal-footer {
                        display: none;
                    }

                    #uni_modal .modal-body {
                        padding-top: 0 !important;
                    }
                </style>
                <div class="container-fluid">
                    <form id="appointment_form" asp-action="index" method="post" class="py-2">
                        <div class="row" id="appointment">
                            <div class="col-6" id="frm-field">
                                @*<input type="hidden" name="id" value="">*@
                                <div class="form-group">
                                    <label for="MatricNo" class="control-label">Matric No</label>
                                    <input type="text" class="form-control" name="MatricNo" value="" required="">
                                </div>
                                <div class="form-group">
                                    <label for="FullName" class="control-label">FullName</label>
                                    <input type="text" class="form-control" name="FullName" value="" required="">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label">Email</label>
                                    <input type="email" class="form-control" name="Email" value="" required="">
                                </div>
                                <div class="form-group">
                                    <label for="Level" class="control-label">Level</label>
                                    <select type="text" class="custom-select" name="Level" required="">
                                        <option>HND</option>
                                        <option>ND</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="contact" class="control-label">Contact</label>
                                    <input type="text" class="form-control" name="Contact" value="" required="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="ailment" class="control-label">Ailment/Reason</label>
                                    <textarea class="form-control" name="Ailment" rows="3" required=""></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="date_sched" class="control-label">Appointment</label>
                                    <input type="datetime-local" class="form-control" id="datescheduled" name="date_sched" value="" required="">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-end w-100 form-group">
                                <button class="btn-primary btn">Submit Appointment</button>
                                <button class="btn-light btn ml-2" type="button" data-dismiss="modal">Cancel</button>
                            </div>

                        </div>
                    </form>
                </div>
                @* <script>
                $(function () {
                $('#dat').click(function (e) {
                e.preventDefault();
                var _this = $(this)
                $('.err-msg').remove();
                $.ajax({
                url: '@Url.Content("~/")' + "Helper/sched_date",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'GET',
                type: 'POST',
                dataType: 'json',
                error: err => {
                console.log(err)
                alert_toast("An error occured", 'error');
                end_loader();
                },
                success: function (resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                location.reload()
                } else if (resp.status == 'failed' && !!resp.msg) {
                var el = $('<div>')
                el.addClass("alert alert-danger err-msg").text(resp.msg)
                _this.prepend(el)
                el.show('slow')
                $("html, body").animate({ scrollTop: $('#uni_modal').offset().top }, "fast");
                } else {
                alert_toast("An error occured", 'error');
                console.log(resp)
                }
                end_loader();
                }
                })
                })
                $('#uni_modal').on('hidden.bs.modal', function (e) {
                if ($('#appointment_form').length <= 0)
                location.reload()
                })
                })
                </script>
                *@

            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="staticBack" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog rounded-0 modal-md modal-dialog-centered mid-large" role="document">
        <div class="modal-content  rounded-0">
            <div class="modal-header">
                <h5 class="modal-title">Medical Appointment Form</h5>
            </div>
            <div class="modal-body">
                <style>
                    #uni_modal .modal-content > .modal-footer {
                        display: none;
                    }

                    #uni_modal .modal-body {
                        padding-top: 0 !important;
                    }
                </style>
                <div class="container-fluid">
                    <form id="appointment_form" asp-action="schedule" method="post" class="py-2">
                        <div class="row" id="appointment">
                            <div class="col-6" id="frm-field">
                                <div class="form-group">
                                    <label for="matric" class="control-label">Matric No</label>
                                    <input type="text" class="form-control" name="matric" value="" required="">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-end w-100 form-group">
                                <button type="submit" class="btn-primary btn">View Appointment</button>
                                <button class="btn-light btn ml-2" type="button" data-dismiss="modal">Cancel</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
